<div class="table-responsive-md report">
  <div class="row">
    <div class="col-sm-2">DONE BY<span style="float:right;">:</span></div>
    <div class="col-sm-7"></div>
    <div class="col-sm-2">CHECKED BY <span style="float:right;">:</span></div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-2">DATE <span style="float:right;">:</span></div>
    <div class="col-sm-7"></div>
    <div class="col-sm-2">DATE <span style="float:right;">:</span></div>
    <div class="col-sm-1"></div>
  </div>
</div>