<!-- <div class="row borderWithLine">
  <div class="col-sm">
    <app-report-header></app-report-header>
  </div>
</div> -->
<div id="reportDetails" *ngFor="let c of rowDataGrouped">
  <div class="row borderWithLine">
    <div class="col-sm">
      <app-report-header></app-report-header>
    </div>
  </div>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">DATE</th>
        <th scope="col">TIME</th>
        <th scope="col">PHASE</th>
        <th scope="col">DR_T1</th>
        <th scope="col">CH_T2</th>
        <th scope="col">CH_T3</th>
        <th scope="col">CH_T4</th>
        <th scope="col">CH_T5</th>
        <th scope="col"> CH_PR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of c.data">
        <td>{{r.Log_Date}}</td>
        <td>{{r.Log_Time}}</td>
        <td>{{r.Phase}}</td>
        <td>{{r.DR_T1}}</td>
        <td>{{r.CH_T2}}</td>
        <td>{{r.CH_T3}}</td>
        <td>{{r.CH_T4}}</td>
        <td>{{r.CH_T5}}</td>
        <td>{{r.CH_Pr}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row borderWithLine">
    <div class="col-sm">
      <app-report-footer></app-report-footer>
    </div>
  </div>
  <br>
</div>