<p-table #dt [columns]="cols" [value]="hphvRunDetails"  [paginator]="true" [rows]="30">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="hphvRunDetails">
      <td>{{rowData.Log_Date | date:'dd-mm-yyyy'}}</td> 
      <td>{{rowData.Log_Time}}</td>
      <td>{{rowData.Phase | uppercase}}</td>
      <td>{{rowData.DR_T1}}</td>
      <td>{{rowData.CH_T2 }}</td>
      <td>{{rowData.CH_T3 }}</td>
      <td>{{rowData.CH_T4 }}</td>
      <td>{{rowData.CH_T5 }}</td>
      <td>{{rowData.CH_Pr }}</td>
    </tr>
  </ng-template>
</p-table>

