<div class="table-responsive-md report">
  <div class="row">
    <div class="col-sm-3 rightBorder">Pre Vacuum<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Pre_Vaccum}}</div>
    <div class="col-sm-7">Bar</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Pre Pressure<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Pre_Pressure}}</div>
    <div class="col-sm-7">Bar</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">No Of Pre Pulses<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder"> {{hphvBatchdetails.No_Of_Pre_Pulses}}</div>
    <div class="col-sm-7">Nos.</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">PR Pulse High Point<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Pr_Pulse_High_Point}} </div>
    <div class="col-sm-7">Bar</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">PR Pulse Low Point<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Pr_Pulse_Low_Point}} </div>
    <div class="col-sm-7">Bar</div>
  </div>
    <div class="row">
      <div class="col-sm-3 rightBorder">PR Pulse Low End Point<span class="elRightalign">:</span></div>
      <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Pr_Pulse_Low_End_Point}} </div>
      <div class="col-sm-7">Bar</div>
    </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">No. Of PR Pulses<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.No_Of_Pr_Pulses}} </div>
    <div class="col-sm-7">Nos.</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Ster Hold Temp<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Ster_Hold_Temp}} </div>
    <div class="col-sm-7">Deg.C</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Ster Hold Time<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Ster_Hold_Time}} </div>
    <div class="col-sm-7">Min</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Ster Overshoot<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Ster_Overshoot}} </div>
    <div class="col-sm-7">Deg.C</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">Ster Stop Temp.<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Ster_Overshoot}} </div>
    <div class="col-sm-7">Deg.C</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Ster Reset Temp<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Ster_Reset_Temp}} </div>
    <div class="col-sm-7">Deg.C</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Post Vacuum Start Pressure<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Post_Vaccum_Start_Pressure}} </div>
    <div class="col-sm-7">Bar</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Post Vacuum<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Post_Vaccum}} </div>
    <div class="col-sm-7">Bar</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">Post Vacuum Hold Time<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Post_Vaccum_Hold_Time}} </div>
    <div class="col-sm-7">Min</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Post Pressure<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Post_Pressure}} </div>
    <div class="col-sm-7">Bar</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">No Of Post Pulses<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.No_Of_Post_Pulses}} </div>
    <div class="col-sm-7">Nos.</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Process End Temp<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Process_End_Temp}} </div>
    <div class="col-sm-7">Deg.C</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Process End Pressure<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{hphvBatchdetails.Process_End_Pressure}} </div>
    <div class="col-sm-7">Bar</div>
  </div>
</div>