<div class="row borderWithLine">
    <div class="col-sm">
        <app-report-header></app-report-header>
    </div>
</div>
<br>
<button (click)="fethcval()">load chart</button>

<p-chart type="line" [data]="data" [options]="options"></p-chart>
<p-chart type="line" [data]="prData" [options]="prOptions"></p-chart>

<div class="row borderWithLine">
    <div class="col-sm">
        <app-report-footer></app-report-footer>
    </div>
</div>