<div class="jumbotron">
<div class="container">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-4">
          <label>From</label>
          <input [owlDateTime]="dtFrom" [owlDateTimeTrigger]="dtFrom" placeholder="Date Time"  [(ngModel)]="dateStart" class="form-control" >
          <owl-date-time #dtFrom></owl-date-time>
        </div>
        <div class="col-sm-4">
          <label>To</label>
          <input [owlDateTime]="dtTo" [owlDateTimeTrigger]="dtTo" placeholder="Date Time"  [(ngModel)]="dateEnd" class="form-control">
          <owl-date-time #dtTo></owl-date-time>
        </div>
        <div class="col-sm-4">
          <label>RunId</label>
          <select class="form-control" [(ngModel)]="runId">
            <option>Run Id</option>
            <option>132</option>
            <option>134</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:10px">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4" style="text-align: center">
          <button type="button" class="btn btn-secondary" (click)="searchRunId()">Generate</button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<app-searchreunids [paramDateStart]="dateStart" [paramDateEnd]="dateEnd" [paramRunID]="runId"></app-searchreunids>


