<button type="submit" class="btn btn-block btn-primary" (click)="converttopdfTest()">Get Started</button>
<div class="container" style="overflow: scroll;">
  <div id="ReportTestView" >
    <div class="row borderWithLine">
      <div class="col-sm">
      <app-report-header></app-report-header>
        </div>

    </div>
    <div class="row borderWithLine">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-3"><b>BATCH DATA :</b></div>
          <div class="col-sm-9"></div>
        </div>
        <app-report-batchdata></app-report-batchdata>
      </div>
    </div>
    <div class="row borderWithLine">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-3"><b>SET PARAMETERS :</b></div>
          <div class="col-sm-9"></div>
        </div>
        <app-report-hphvprocesssetparameter></app-report-hphvprocesssetparameter>
      </div>
    </div>
    <div class="row borderWithLine">
      <div class="col-sm">
        <app-report-footer></app-report-footer>
      </div>
    </div>
  </div>
</div>