<div class="table-responsive-md report">
  <div class="row">
    <div class="col-sm-12" style="text-align: center"><span style="float:none">M/S AGILA SPECIALTIES PVT. LTD.,
        <br>BETALACTAM DIVISION, BANNERGHATTA<br>ROAD, BANGALORE-76</span></div>
  </div>
  <div class="row">
    <div class="col-sm-2">EQUIP. ID<span style="float:right;">:</span></div>
    <div class="col-sm-4">BLD/PDN/HPHV/322</div>
    <div class="col-sm-2"> EQUIP. NAME <span style="float:right;">:</span></div>
    <div class="col-sm-4">HPHV STEAM STERI</div>
  </div>
  <div class="row">
    <div class="col-sm-2">Run NO<span style="float:right;">:</span></div>
    <div class="col-sm-4">7882</div>
    <div class="col-sm-2"> USER NAME <span style="float:right;">:</span></div>
    <div class="col-sm-4">OPERATOR</div>
  </div>
</div>