<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse bg-inverse navHight">
  <div class="navbar-header">
    <a href="#" class="navbar-brand" style="color:white;">HPHV Sterilization Reports</a>
  </div>
</nav>