<!-- <button type="submit" class="btnbtn-primary" (click)="converttopdfTest()">Downlod Pdf</button> -->
<div class="container" style="overflow-y: scroll; border:1px solid black;height: 800px">
  <div id="ReportTestView">
    <div class="row borderWithLine">
      <div class="col-sm">
        <app-report-header></app-report-header>
      </div>
    </div>

    <div class="row borderWithLine">
      <div class="col-sm">
        <b>BATCH DATA :</b>
        <app-report-batchdata></app-report-batchdata>
      </div>
    </div>

    <div class="row borderWithLine">
      <div class="col-sm">
        <b>SET PARAMETERS :</b>
        <app-repotr-vacuumsetparameter></app-repotr-vacuumsetparameter>
      </div>
    </div>

  <div class="row borderWithLine">
    <div class="col-sm">
      <app-report-footer></app-report-footer>
    </div>
  </div>

  <!-- Report Details -->
  <app-reportdetails></app-reportdetails>
  
  <!-- Chart -->
  <app-trendchart></app-trendchart>
</div>
</div>