<!-- <div class="" style="border:1px solid black" >
  <div class="container text-align ">
    <div class="row ">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" >
        <div class="js-form-message mb-3"> 
          <div class="js-focus-state input-group input-group form">
            <input type="text" class="form-control form__input" name="username" required=""
              placeholder="Enter your username" aria-label="Enter your username" [(ngModel)]="userDetails.userName">
          </div>
        </div>
        <div class="js-form-message mb-3">
          <div class="js-focus-state input-group input-group form">
            <input type="password" class="form-control form__input" name="password" required=""
              placeholder="Enter your password" aria-label="Enter your password" [(ngModel)]="userDetails.password">
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-primary" (click)="validateUser()">Get Started</button>
        <br>
        <div class="alert alert-danger" role="alert" [style.visibility] ="hasLoginFailed? 'visible' : 'hidden'" >
          Invalid user name or password!
        </div>
      </div>
      <div class="col-lg-4"><span class="warning" ></span></div>
    </div>
  </div>
</div> -->

<!-- <div>
    <img src="../../assets/mylanimage.jpg" alt="mylan" class="mylan">
</div> -->
<div class="col-sm" id="loginBox" >
 <div class="row ">
    <div class="js-form-message mb-3"> 
      <div class="js-focus-state input-group input-group form">
        <input type="text" class="form-control form__input" name="username" required=""
          placeholder="Enter your username" aria-label="Enter your username" [(ngModel)]="userDetails.userName">
      </div>
    
      <div class="js-focus-state input-group input-group form" style="margin-top:5px" >
        <input type="password" class="form-control form__input" name="password" required=""
          placeholder="Enter your password" aria-label="Enter your password" [(ngModel)]="userDetails.password">
      </div>
      <button type="submit" class="btn btn-block btn-primary" (click)="validateUser()" style="margin-top:5px" >Get Started</button>
    </div>
    <div class="alert alert-danger" role="alert" [style.visibility]="hasLoginFailed? 'visible' : 'hidden'">
      Invalid user name or password!
    </div>
  </div>
</div>
