#loginBox{
    /* float: left; */
    padding:5px;
    margin-left: 180px; 
    margin-top: 13% ;
    width:210px;
    height:150px;
}

.mylan{
    width: 17%;
    height: 12%;
    float:left;
    margin-left: 3%;
    /* margin-top: 1% ; */
}
.TangentImage{
    width:35%;
    height:35%;
    margin-top: 35%;
}

