<p>
  reportvacuum works!
</p>
<div class="table-responsive-md report">
  <div class="row">
    <div class="col-sm-3 rightBorder">Vacuum<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{vacuumParameterdetails.Vacuum}} </div>
    <div class="col-sm-7">Min</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Delay Before Hold<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{vacuumParameterdetails.Delay_Before_Hold}} </div>
    <div class="col-sm-7">Deg.C</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">Vacuum Hold<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{vacuumParameterdetails.Vaccum_Hold_Time}} </div>
    <div class="col-sm-7">Deg.C</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Acceptable Leakage<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{vacuumParameterdetails.Acceptable_Lekage}} </div>
    <div class="col-sm-7">Deg.C</div>
  </div>

  <div class="row">
    <div class="col-sm-3 rightBorder">Process End Pressure<span class="elRightalign">:</span></div>
    <div class="col-sm-2 rightBorder">{{vacuumParameterdetails.Process_End_Pressure}} </div>
    <div class="col-sm-7">Bar</div>
  </div>
</div>