
<div class="table-responsive-md report">
   <div class="row">
    <div class="col-sm-3 rightBorder">Product Name<span style="float: right;">:</span></div>
    <div class="col-sm-9">{{hphvBatchdetails.Product_Name}}</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">Load Id<span style="float: right;">:</span></div>
    <div class="col-sm-9">{{hphvBatchdetails.Load_Id}} </div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">Batch No.<span style="float: right;">:</span></div>
    <div class="col-sm-9"> {{hphvBatchdetails.Run_Id}}</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">Process Start Date<span style="float: right;">:</span></div>
    <div class="col-sm-9">{{hphvBatchdetails.Starts_Date }}</div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">Process Start Time<span style="float: right;">:</span></div>
    <div class="col-sm-9">{{hphvBatchdetails.Start_Time}} </div>
  </div>
  <div class="row">
    <div class="col-sm-3 rightBorder">Process Name<span style="float: right;">:</span></div>
    <div class="col-sm-9"> {{hphvBatchdetails.Process_Name}}</div> 
  </div>
</div>