.report>.row {
    border: 1px solid #dddddd;
}

.report>.row>.rightBorder {
    border-right: 1px solid #dddddd;
}

.report>.row>.leftBorder {
    border-left: 1px solid #dddddd;
}

.elRightalign {
    float: right;
}