<!-- <footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark navHight">
  <div class="footer-copyright text-center py-3" style="color:white;">© 2018 Copyright:
    <a href="https://Tangentautomation.com"> Version 1.0</a>
  </div>
</footer> -->


<footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark bottom">

  <div class="footer-copyright text-center py-3" style="color:white;">© 2018 Copyright:
    <a href="https://Tangentautomation.com"> Version 1.0</a>
  </div>
  <div class="Address">
      <address style="font-size:12px;color:white;float:right;margin-top:13px;margin-left: 930px;">
          Tangent Automation<br>#38,1<sup>st</sup> Main,3<sup>rd</sup> Cross,New Outer 
           <br>
           Ring Road,Banglore
          
          </address>
  </div>
  
</footer>