
/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
.report {
    /* font-family: 'Courier New', Courier, monospace */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.navHight {
    height: 50px;
}
.borderWithLine {
    border: 1px solid black;
    padding: 1%;
}
.imageback{
   
    background: url('~/../assets/homeBackground.jpg');
     background-repeat: no-repeat; 
     height: 430px; 
     /* width: 1000px;  */
     margin-left: auto; 
     margin-right: auto; 
     /* max-width: 100%; */
     background-size: cover; 
 }